@font-face {
	font-family: "HorrorScope";
	src: url("../fonts/HorrorScopeRegular.woff2") format("woff2"),
		url("../fonts/HorrorScopeRegular.woff") format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: "HorrorScope", serif;
	font-size: 80px;
	font-style: normal;
	background: linear-gradient(90deg, rgba(168, 2, 36, 1) 5%, rgba(0, 0, 0, 1) 49%, rgba(157, 2, 2, 1) 96%);
}

[class$="__container"] h1 {
	text-align: center;
	text-shadow: -4px 4px rgba(179, 179, 179, .4), -3px 3px rgba(153, 153, 153, .2), -2px 2px rgba(179, 179, 179, .2), -1px 1px rgba(179, 179, 179, .2), 0px 0px rgba(128, 128, 128, .5), 1px -1px rgba(77, 77, 77, .6), 2px -2px rgba(77, 77, 77, .7), 3px -3px rgba(82, 82, 82, .8), 4px -4px rgba(77, 77, 77, .9), 5px -5px rgba(77, 77, 77, 1);
}

[class$="__img"] {
	max-width: 900px;
	margin: 0 auto;
}

[class$="__img"] img {
	width: 200px;
	height: 200px;
}

[class$="__img"]:hover .game__field {
	visibility: visible;
	opacity: 1;
}

.game__field {
	width: 900px;
	height: 500px;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 50px;

}

.game__field {
	background: url("../img/coffin.png") bottom right/200px 200px no-repeat;
}

.episod__first {
	width: 50px;
	height: 200px;

}

.episod__first:hover {
	width: 50px;
	height: 200px;
	background-color: black;
	border: 5px dotted red;
}

.episod__second {
	width: 600px;
	height: 50px;

}

.episod__second:hover {
	border: 5px dotted red;
	width: 600px;
	height: 50px;
	background-color: black;
}

.episod__three {
	width: 50px;
	height: 250px;
	margin-left: 550px;
}

.episod__three:hover {
	width: 50px;
	height: 200px;
	background-color: black;
	border: 5px dotted red;
}

.episod__four {
	width: 150px;
	height: 50px;
	margin-left: 550px;
	margin-top: -50px;
}

.episod__four:hover {
	width: 120px;
	height: 50px;
	background-color: black;
	border: 5px dotted red;
}

.episod__four:hover::after {
	content: "Alive";
	color: white;
}